.DS_Store
Thumbs.db

front-leon/node_modules/
front-leon/.next/
front-leon/.env.local
front-leon/.env.development.local
front-leon/.env.test.local
front-leon/.env.production.local
front-leon/npm-debug.log*
front-leon/yarn-debug.log*
front-leon/yarn-error.log*
front-leon/.turbo/

*.log
*.lock
*.swp
*.tmp
*.bak
*.pid
*.seed
*.cover
*.orig

demo/target/
demo/.idea/
demo/.vscode/
demo/*.iml
demo/mvnw*
demo/.mvn/
demo/.settings/
demo/.classpath
demo/.project
demo/.env

*.~*
*.swp
*~

demo/build/
front-leon/out/